#container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows:290px 290px;
  grid-row-gap:80px;
  grid-column-gap:80px;
  width:1100px;
  margin-left:200px;
  margin-top:80px;
  

}
body{
  background-color: white;
  margin:0px;
  background-color:rgb(117, 110, 110);
}
h1{
  text-align: center;
  margin:0px ;
  padding: 40px;
  font-size:40px;
  background-color: rgb(67, 48, 145);
}
.one{
  text-align: center;
  background-color:white;
  border-radius:10px;
  
}
img{
  padding-top:20px;
  height: 150px;
  width: 150px;
}
a{
  text-decoration: none;
  padding:4px 25px;
  background-color: rgb(181, 174, 181);
  border-radius:5px;
  color:black;
}
a:hover{
  font-size:20px;